<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white header-title" href="/">Agenda</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link text-white" href="/contacts/index">Cadastrar contatos</a>
        </li>

        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login/logout">Sair</a>
        </li>
        <% } else {%>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login/index">Entrar</a>
        </li>
        <% } %>
  
      </ul>
    </div>
  </div>
</nav>